form {
  display: flex;
  justify-content: space-between;
}

h2 {
  padding: 10px;
}

.form {
  background: #c4c4c4;
  padding: 40px;
  position: relative;
  top: 75px;
  left: 75px;
  width: 750px;
  height: 450px;
  border-radius: 50px;
}

.message-text {
  background: #c4c4c4;
  padding: 40px;
  padding-bottom: 20px;
  position: relative;
  top: 75px;
  right: 75px;
  width: 600px;
  border-radius: 50px;
}

.msg {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

textarea {
  width: 520px;
  height: 270px;
  border-radius: 25px;
  border-width: 0px;
  padding: 10px;
}

.form div {
  padding: 20px;
  line-height: 25px;
  font-weight: 600;
}

.form input {
  border-width: 0px;
  border-radius: 50px;
  width: 640px;
  height: 40px;
  padding: 20px;
}

#submit {
  margin: 5px;
  position: relative;
  right: 10px;
  top: 5 px;
  border-radius: 50px;
  padding: 10px;
  border-width: 0px;
  background: #7408ca;
  color: #ffffff;
  width: 200px;
  font-weight: 600;
  font-size: 20px;
  transition: 0.5s;
}

#submit:hover {
  width: 300px;
}

footer {
  background: #000;
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
}
