@media screen and (min-width: 801px) {
  body {
    background-color: black;
  }

  .about {
    background: url(../images/lightbulb2.jpg);
    height: 87.8vh;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding-left: 20px;
  }

  .about p {
    position: relative;
    top: 20%;
  }

  .about p:first-child {
    font-size: 56px;
    line-height: 100px;
    font-weight: 600;
  }

  .about p span {
    font-size: 90px;
  }

  .about p:last-child {
    font-size: 40px;
    font-weight: 500;
  }

  .button {
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    bottom: 75px;
    left: 30px;
    background: #7408ca;
    color: #ffffff;
  }

  .button a {
    padding: 10px 75px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
  }

  .button a:hover {
    padding-left: 125px;
    padding-right: 125px;
    border-radius: 50px;
  }
}

@media screen and (max-width: 800px) {
}
