.skills {
  display: flex;
  justify-content: space-between;
}

.skill-images img {
  width: 150px;
  height: 150px;
}

.skill-images img:last-child {
  width: 100px;
  height: 139px;
  padding-bottom: 5px;
  position: relative;
  left: 30px;
  bottom: 2px;
}

.skill-images {
  position: relative;
  top: 100px;
  left: 50px;
}

.skill-text {
  position: relative;
  top: 100px;
  background: #c4c4c4;
  right: 75px;
  padding: 15px 20px 200px 25px;
  border-radius: 40px;
  width: 55%;
  height: 490px;
  font-weight: 500;
  font-size: 24px;
}
